@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    /* Primary Colors */
    --black-pearl: #14161e;
    --navy: #042141;
    --spring-wood: #faf7f0;

    /* Secondary Colors */
    --sandstone: #7b6d62;
    --lion: #c4955d;
    --moon-mist: #e2dbc9;
}

body {
    font-family: "Open Sans", sans-serif;
}

.serif {
    font-family: "Noto Serif", serif;
}

.h-screen {
    height: 100dvh;
}
