@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --blue-dark: #14161e;
    --creme--light: #faf7f0;
    --creme: #e2dbc9;
    --brown: #7b6d62;
    --brown-sand: #c4955d;
    --brown-lighter: #f2dec7;
    --beige: #dcae77;
    --red-error: #f16767;
}
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serif {
    font-family: "Noto Serif", serif;
}

/* Utility */
.h-screen {
    height: 100dvh;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

header {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    padding-top: 2rem;
}

.button {
    background-color: var(--brown-sand);
    color: var(--blue-dark);
    text-decoration: none;
    border-radius: 11px;
    text-transform: uppercase;
    font-size: 0.9rem;
    display: flex;
    position: relative;
    transition: color 200ms, background-color 200ms;
}

.button:hover {
    background-color: var(--blue-dark);
    color: var(--brown-sand);
}

.button:after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #fff;
    border-radius: 9px;
    pointer-events: none;
    opacity: 0;
    transition: background-color 150ms, opacity 150ms, inset 200ms;
}

.button:hover:after {
    opacity: 1;
    inset: 0.3rem 0.25rem;
    border-color: var(--brown-sand);
}

.button span {
    padding: 0.85rem 1.95rem;
    font-size: 0.9rem;
    font-weight: 400;
    white-space: nowrap;
}

.header-buttons {
    display: flex;
    gap: 1rem;
}

/* Logos */
.logo {
    width: 175px;
}

.logo path {
    fill: var(--brown-sand);
}

.container {
    width: 100%;
    max-width: 1100px;
}
