@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --blue-dark: #14161e;
    --creme--light: #faf7f0;
    --creme: #e2dbc9;
    --brown: #7b6d62;
    --brown-sand: #c4955d;
    --brown-lighter: #f2dec7;
    --beige: #dcae77;
    --red-error: #f16767;
}
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-dark);
    background-image: url("images/pattern-main.svg");
    background-size: 62.5rem;
    background-position: center;
}
img {
    object-fit: cover;
}

a,
a img {
    cursor: pointer;
}
.serif {
    font-family: "Noto Serif", serif;
}

/* Utility */
.h-screen {
    height: 100dvh;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.25s;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 10000;
}

body.scrolled header {
    padding: 1rem 0;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
header .content {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
}

.button {
    background-color: var(--brown-sand);
    color: var(--blue-dark);
    text-decoration: none;
    border-radius: 11px;
    text-transform: uppercase;
    font-size: 0.9rem;
    display: flex;
    position: relative;
    transition: color 200ms, background-color 200ms;
    display: flex;
    align-items: center;
    cursor: pointer;
}

main {
    min-width: 100%;
}

.button:hover {
    background-color: var(--blue-dark);
    color: var(--brown-sand);
}

.button:after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid #fff;
    border-radius: 9px;
    pointer-events: none;
    opacity: 0;
    transition: background-color 150ms, opacity 150ms, inset 200ms;
}

.button:hover:after {
    opacity: 1;
    inset: 0.3rem 0.25rem;
    border-color: var(--brown-sand);
}

.button span {
    padding: 0.85rem 1.95rem;
    font-size: 0.9rem;
    font-weight: 400;
    white-space: nowrap;
}

.button svg {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.7rem;
    margin: auto;
}

.header-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

/* Logos */
.logo {
    width: 175px;
}

.logo path {
    fill: var(--brown-sand);
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: auto;
}

#hero {
    background-image: url("images/hero_background.jpg");
    background-position: center 100%;
    background-size: cover;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    height: 20rem;
    top: 0;
}

#hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
    );
    height: 80%;
}

#hero .content {
    position: absolute;
    width: 100%;
    color: white;
    bottom: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem 0;
}

#hero h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 800px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 1rem;
}

#intro {
    padding-top: 100px;
    display: flex;
    position: relative;
}

#intro div.content {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    color: var(--brown-sand);
    border: 1px solid var(--brown-sand);
    border-bottom: none;
    border-radius: 20px 20px 0 0;
    padding-top: 200px;
    z-index: 1000;
}

#intro h2 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 400px;
    text-align: center;
    line-height: 2.3rem;
}

#intro p {
    font-size: 1.1rem;
    max-width: 800px;
    text-align: center;
    line-height: 1.5rem;
}
.fade-in-overlay {
    background-image: linear-gradient(
        to bottom,
        rgba(20, 22, 30, 100%),
        rgba(0, 0, 0, 0)
    );
    top: 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;
    height: 80%;
}

#gallery {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
}
#gallery .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 0.4rem;
}

#gallery img {
    transition: 0.2s all;
}

#gallery .image-1 img,
#gallery .image-2 img {
    aspect-ratio: 1/1;
    width: 100%;
}

#gallery .image-3 {
    grid-column: 1/-1;
}
#gallery .image-3 img {
    aspect-ratio: 16/8;
    width: 100%;
}

#gallery .overlay {
    position: absolute;
    height: 100%;
    border: var(--brown-sand) 1px solid;
    margin: auto;
    top: 0;
    z-index: 1000;
    border-top: none;
    border-bottom: none;
    pointer-events: none;
}
#gallery .button {
    position: absolute;
    bottom: 0;
    margin: auto;
    margin-bottom: 2rem;
    z-index: 1000;
}

#gallery::after {
    content: "";
    display: block;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        var(--blue-dark)
    );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    pointer-events: none;
}

#about {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about .content {
    padding: 100px 0;
    color: var(--brown-sand);
    border: 1px solid var(--brown-sand);
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    z-index: 1000;
    text-align: center;
}

#about .content p {
    line-height: 2rem;
    max-width: 700px;
}

#about h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 400px;
    text-align: center;
}

.top-overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 20rem;
    background-image: linear-gradient(
        to bottom,
        var(--blue-dark),
        rgba(0, 0, 0, 0)
    );
    top: 0;
}

.bottom-overlay {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 20rem;
    pointer-events: none;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        var(--blue-dark)
    );
    bottom: 0;
}

#gallery-2 {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
}
#gallery-2 .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
}

#gallery-2 .image-1 img,
#gallery-2 .image-2 img {
    aspect-ratio: 1/1;
    width: 100%;
}

#gallery-2 .container-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 5rem 0;
    border: var(--brown-sand) 5px solid;
    border-radius: 30px;
}

main.menu #hero {
    padding: 100px 0;
    min-height: 500px;
    background-image: url("images/menu/hero_background.jpg");
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* bac */
    box-sizing: border-box;
}

main.menu #hero::before {
    content: "";
    position: absolute;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0)
    );
    height: 20rem;
    top: 0;
}

main.menu #hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
    );
    height: 80%;
}

main.menu #card {
    background-color: var(--creme--light);
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

main.menu #card .card {
    background-image: url("images/menu/pattern-main.svg");
    background-size: 62.5rem;
    border: 2px solid rgba(196, 149, 93, 0.45);
    border-radius: 15px;
    padding: 80px 40px;
    box-sizing: border-box;
}

main.menu #card .card .types {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8rem;
}

main.menu #card .card .types span {
    width: 15px;
    height: 5px;
    border-radius: 15px;
}

main.menu #card .card main {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main.menu #card .card main h2 {
    font-family: "Noto Serif", serif;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
